*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.dflex{
    display: flex;
}

.textcenter{
    text-align: center;
}

header{
    height: 70px;
    background-color: cornflowerblue;
}

.container{
    width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
}

.menu{
    display: none;
    color: white;
}

.head.dflex{
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.linkList.dflex{
    gap: 1rem;
    color: white;
}

/* Main */

.container.first{
    flex-wrap: wrap;
    gap: 1rem;
}

.demo{
    width: calc(((100% - 0.5rem) / 3) * 2);
}

.card{
    width: calc((100% - 2rem) / 3);
}

.mainCard > div{
    width: 50%;
}

.imgPhone{
    width: 50%;
}

.container.small{
    width: 800px;
    margin: 0 auto;
}

.planning > img{
    width: 100%;
}

